<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.squidkill.infrastructure.persistent.dao.IRoomDao">

    <resultMap id="dataMap" type="ink.squidkill.infrastructure.persistent.po.Room">
        <id column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="task_id" property="taskId"/>
        <result column="room_num" property="roomNum"/>
        <result column="start_time" property="startTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="has_host" property="hasHost"/>
        <result column="is_need_middle" property="isNeedMiddle"/>
        <result column="result_img" property="resultImg"/>
        <result column="vote_result" property="voteResult"/>
    </resultMap>

    <insert id="insert" parameterType="ink.squidkill.infrastructure.persistent.po.Room">
        insert into room(
            room_id,room_num,status,has_host,is_need_middle,start_time,update_time
        ) values (#{roomId}, #{roomNum}, #{status}, #{hasHost},#{isNeedMiddle}, now(),now())
    </insert>

    <update id="updateRoom" parameterType="ink.squidkill.domain.room.model.entity.RoomEntity">
        update room
        set update_time = now()
        <if test="resultImg != null and resultImg != ''">
            , result_img = #{resultImg}
        </if>
        <if test="status != null and status != ''">
            , status = #{status}
        </if>
        <if test="taskId != null and taskId != ''">
            , task_id = #{taskId}
        </if>
        <if test="voteResult != null and voteResult != ''">
            , vote_result = #{voteResult}
        </if>
        where room_id = #{roomId}
    </update>

    <select id="queryRoomById" parameterType="java.lang.String" resultMap="dataMap">
        SELECT *
        FROM room
        WHERE room_id = #{roomId}
    </select>

    <delete id="deleteRoom" parameterType="java.lang.String">
        DELETE
        FROM room
        where room_id = #{roomId}
    </delete>

</mapper>
